.login-form {
  background-color: white;
  display: inline-block;
  translate: 0% 30%;
  width: 425px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
  padding: 50px;
    
  h1 {
    background-color: rgb(4, 92, 121);
    text-decoration: underline;
    padding: 5px 110px;
    border-radius: 5px;
    font-style: italic;
    color: white;
  }

  .form-group {
    input {
      border: 1px solid rgb(103, 103, 199);
    }

    label {
      font-size: 20px;
      color: black;
    }
  }

  input[type="button"] {
    margin-top: 10px;
  }

  .footer {
    margin-top: 30px;
    text-align: center;
    color: black;
  }
}