.user-posts {

  .posts {
    display: flex;
    flex-wrap: wrap;

    .post {
      padding: 20px;

      img {
        border: 2px solid black;
        object-fit: cover;
        width: 200px;
        height: 175px;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.5s;
          cursor: pointer;
        }
      }
    }
  }
}