# IGNORE
.vscode
package-lock.json
/build
node_modules
/FileServerAPI/content/images/*
/FileServerAPI/content/thumbnails/*
/FileServerAPI/content/posts/*

# ALLOW
!/FileServerAPI/content/images/info.txt
!/FileServerAPI/content/thumbnails/info.txt
!/FileServerAPI/content/posts/info.txt