# IGNORE
.vscode
/build
node_modules
envs
.env
/server/FileServerAPI/content/images/*
/server/FileServerAPI/content/thumbnails/*
/server/FileServerAPI/content/posts/*

# ALLOW
!/server/FileServerAPI/content/images/info.txt
!/server/FileServerAPI/content/thumbnails/info.txt
!/server/FileServerAPI/content/posts/info.txt