.side-panel {
  background-color: #2B2B2B;
  border-right: 2px solid black;

  img {
    border-bottom: 2px solid black;
    object-fit: cover;

    margin-right: 200px;
    height: 100px;
    width: 100%;
  }

  .side-bar {
    white-space: nowrap;
    overflow: hidden;
    padding: 15px;

    div {
      margin-top: 20px;

      :hover {
        color: rgb(83, 93, 223);
      }
    }

    .notification {
      position: relative;

      .badge {
        font-size: 16px;
        position: absolute;
        top: -0px;
        right: -22px;
        padding: 2px 6px;
        border-radius: 50%;
        background-color: rgb(189, 48, 48);
        color: white;
      }
    }

    .bottom {
      position: absolute;
      margin-bottom: 130px;
      bottom: 0;
    }

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      color: rgb(236, 236, 236);;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .side-panel {
    width: 250px;
  }
}