.side-panel {
  background-color: #2B2B2B;
  border-right: 2px solid black;
  width: 285px;

  img {
    border-bottom: 2px solid black;
    object-fit: cover;
    height: 100px;
    width: 282px;
  }

  .collapsed {
    .area {
      height: 100px;

      img {
        width: 59px;
        height: 65px;
      }
    }
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    bottom: 0;

    font-size: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .side-bar {
    white-space: nowrap;
    position: fixed;
    height: 100%;

    .labels {
      margin-left: 15px;
      margin-top: 15px;

      div {
        padding: 3px 0px;

        :hover {
          color: rgb(83, 93, 223);
        }
      }
    }

    .sp-notification {
      position: relative;

      .sp-badge {
        display: flex;
        align-items: center;
        justify-content: center;
  
        background-color: rgb(189, 48, 48);
        border-radius: 50%;
  
        width: 19px;
        height: 18px;
        font-size: 11px;
        color: white;
  
        position: absolute;
        left: 16px;
        top: 0;
      }

      a :hover {
        color: rgb(236, 236, 236);
      }
    }

    a {
      text-decoration: none;
      font-family: sans-serif;
      font-style: normal;
      font-size: 28px;
      color: rgb(236, 236, 236);
    }
  }
}