.reports-container {

  .outer-border {

    .reports {
      background-color: black;
      display: flex;
      overflow: auto;
      padding: 10px;
      flex: 1;

      .profile, .report-type-selection {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          text-decoration: underline;
          border-bottom: 2px dotted black;
          margin-bottom: 10px;
          font-style: italic;
        }
        
        .filters {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          input, button {
            margin-bottom: 10px;
          }

          button {
            margin-left: 5px;
          }
        }
      }

      .profile {
        flex: 1;

        .body {

          table {
            border-collapse: collapse;
            width: 100%;

            thead, tbody {
              tr {
                border-bottom: 1px solid grey;
              }

              th, td {
                padding: 5px;
              }

              .actions {
                button {
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}