.saved-posts-container {

  .outer-border {

    .saved-posts {
      display: flex;
      flex-direction: column;
      flex: 1;

      background-color: black;
      overflow: auto;
      padding: 10px;

      .posts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        center {
          flex: 1;
        }

        .post {
          margin: 3px;

          img {
            border: 1px solid lightblue;
            width: 375px;
            height: 450px;

            &:hover {
              border: 1px solid blue;
            }
          }
        }
      }
    }
  }
}