.profile-container {

  .outer-border {
    display: flex;
    overflow: hidden;

    .profile {
      display: flex;
      padding: 10px;
      flex: 1;

      .left-details {
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        .picture {
          border: 3px solid rgb(83, 127, 189);
          object-fit: cover;
          width: 350px;
          height: 300px;
        }

        .interact button, input {
          margin-top: 5px;
          margin-right: 5px;
        }

        .connection-labels label:hover {
          cursor: pointer;
          color: blue;
        }
      }

      .right-details {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .profile {
    flex-direction: column;

    .right-details {
      margin-left: -10px;
    }

    .information {
      border: none;

      .left-labels {
        width: 125px;
      }

      .bio {
        white-space: normal;
        
        textarea {
          background-color: white;
          white-space: normal;
        }
      }
    }
  }
}