.profile-container {

  .outer-border {

    .profile {
      display: flex;
      overflow: auto;
      padding: 10px;
      flex: 1;

      .left-details {
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        .picture {
          border: 3px solid black;
          object-fit: cover;
          width: 350px;
          height: 300px;
        }

        .profile-interact {

          button, input {
            margin-top: 8px;
            margin-right: 4px;
          }

          input[type="file"] {
            display: none;
          }
        }

        .interact {
          margin-top: 5px;
          
          button, input {
            margin-bottom: 5px;
            margin-right: 5px;
          }

          i {
            &:hover {
              cursor: pointer;
              color: lightblue;
            }
          }
        }

        .connection-labels label:hover {
          cursor: pointer;
          color: lightblue;
        }
      }

      .right-details {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1120px) {
  .profile {
    flex-direction: column;

    .right-details {
      margin-left: -10px;
    }

    .information {
      border: none;

      .bio {
        white-space: normal;
        
        textarea {
          background-color: white;
          white-space: normal;
        }
      }
    }
  }
}