.notifications-container {

  .outer-border {

    .notifications {
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: 10px;
      flex: 1;

      .notification {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        padding: 8px;

        .thumbnail {
          position: relative;
          top: -3px;
          border-radius: 50%;
          object-fit: cover;
          width: 35px;
          height: 35px;
  
          margin-right: 5px;
          margin-bottom: 20px;
        }

        .username {
          text-decoration: none;
          font-weight: bold;
          color: inherit;
        }

        .comment {
          margin-left: 5px;
          font-weight: 700;
          color: #262626;
        }

        .timestamp {
          margin-left: 5px;
          font-weight: 400;
        }

        .post {
          border-radius: 5px;
          margin-left: auto;
          
          img {
            object-fit: cover;
            width: 55px;
            height: 55px;
          }
        }

        .buttons {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          .accept, .decline {
            margin-left: 10px;
            border-radius: 5px;
            height: 35px;
          }
        }
      }
    }
  }
}