body {
  background-color: #425E7A;
  color: rgb(230, 230, 230);
  font-weight: 600;
}

// User Containers
.profile-container,
.messages-container, 
.notifications-container,
.saved-posts-container,
.search-container,
.posts-container,
.post-container,
.settings-container,

// Admin Containers
.statistics-container,
.monitor-posts-container,
.user-settings-container,
.reports-container
{
  padding: 5px;

  .outer-border {
    display: flex;
    overflow: hidden;
    height: 89.3vh;

    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
  }
}