body {
  background-color: #425E7A;
  color: rgb(230, 230, 230);
  font-weight: 600;
}

.profile-container, .messages-container, .notifications-container, .search-container, .posts-container, .post-container, .settings-container {
  padding: 5px;

  .outer-border {
    display: flex;
    overflow: hidden;
    height: 98.5vh;
    border: 3px solid black;
  }
}