.container {
    font-family: verdana;
    padding: 20px;
}

.border-area {
    border: 4px solid black;
}

.area, .border-area {
  padding: 10px;
  height: 600px;
  width: 80%;
}

.border-area img {
    border: 4px dashed rgb(28, 112, 221);
}

.menu a {
    padding-left: 15px;
}

.wrapper {
  display: flex;
}

.profile input {
    font-size: 12px;
}

.information {
  overflow: auto;
  border: 4px solid black;
  margin: 0px 15px 0px 15px;
  padding: 5px;
  width: 100%;
  height: 500px;
}

.information h6 {
  text-decoration: underline;
  font-weight: bold;
  padding-top: 5px;
}

textarea {
  height: 100%;
  width: 100%;
}

#header { text-align: center; }

.border-area, .area {
    margin: 0 auto;
}

.head { border: 4px solid black; }

.body { display: flex; }

.body, .footer {
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.footer {
    text-align: center;
    height: 100px;
}

.footer a {
    padding: 15px;
    font-size: 18px;
}

.loginForm, .registerForm {
    border-right: 4px solid black;
    width: 200px;
    padding: 12px;
}

.loginPrompt, .registerPrompt {
    font-size: 18px;
}

.loginForm input[type="text"], .registerForm input[type="text"] {
    border: 2px solid grey;
}

.loginForm input[type="text"], .registerForm input[type="text"],
.loginForm input[type="button"], .registerForm input[type="button"] {
    font-size: 12px;
}

.noAccount {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.description h3 {
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: underline;
}

.description {
    margin: 10px;
}

@media only screen and (max-width: 1200px) {
    .border-area, .area {
        width: auto;
    }
}