.block {
  font-family: verdana;
  padding: 20px;
}

.border-area {
  border: 4px solid black;
}

.area, .border-area {
  margin: 0 auto;
  padding: 10px;
  height: 600px;
  width: 55%;
}

.border-area img {
  border: 3px solid rgb(83, 127, 189);
}

.menu a {
  padding-left: 15px;
}

.wrapper {
  display: flex;
}

.profile input {
  font-size: 12px;
}

#response {
  color: red;
  font-size: 12px;
}

.information {
  overflow: auto;
  white-space: nowrap;
  border: 3px solid rgb(83, 127, 189);
  margin: 0px 15px 0px 15px;
  padding: 5px;
  width: 100%;
  height: 500px;
}

.information h6 {
  text-decoration: underline;
  font-weight: bold;
  padding-top: 5px;
}

.bio { white-space: normal; }

textarea {
  background-color: lightblue;
  resize: none;
  width: 100%;
  height: 95px;
}

#header { text-align: center; }

.head { border: 4px solid black; }

.body { display: flex; }

.body, .footer {
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}

.footer {
  text-align: center;
  height: 115px;
}

.footer a {
  padding: 15px;
  font-size: 18px;
}

.loginForm, .registerForm {
  border-right: 4px solid black;
  width: 200px;
  padding: 12px;
}

.loginPrompt, .registerPrompt {
  font-size: 18px;
}

.loginForm input, .registerForm input {
  border: 2px solid grey;
  font-size: 12px;
}

.noAccount {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

.description { margin: 10px; }

.description h3 {
  margin-top: 5px;
  margin-left: 5px;
  text-decoration: underline;
}

.left-labels {
  float: left;
  width: 200px;
}

.right-assertions input, .right-assertions select {
  background-color: lightblue;
  font-size: 12px;
  width: 180px;
}

@media only screen and (max-width: 1600px) {
  .border-area, .area {
    width: 80%;
}
}

@media only screen and (max-width: 1200px) {
  .border-area, .area {
      width: auto;
  }
}