.block {
  font-family: verdana;
  padding: 20px;
}

.border-area {
  border: 4px solid black;
  overflow: auto;
}

.area, .border-area {
  margin: 0 auto;
  padding: 10px;
  height: 725px;
  width: 55%;
}

.menu {
  text-align: right;
}

.menu h1 {
  float: left;
}

.menu #search, a {
  margin-top: 5px;
}

.menu #search {
  margin-left: 20px;
}

.menu a {
  padding-left: 15px;
  font-size: 18px;
}

.picture {
  border: 3px solid rgb(83, 127, 189);
  object-fit: cover;
  width: 250px;
  height: 230px;
}

.wrapper {
  display: flex;
}

.profile input {
  font-size: 12px;
}

.details {
  .username {
    margin-top: 5px;
  }

  .follow, .message {
    margin-left: 5px;
    margin-top: 5px;
  }

  .interactions label:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }
}

#response { font-size: 12px; }

.information {
  overflow: auto;
  white-space: nowrap;
  border: 3px solid rgb(83, 127, 189);
  margin: 0px 15px 0px 15px;
  font-size: 17px;
  padding: 5px;
  width: 100%;
  height: 500px;

  .update {
    float: right;
  }
}

.information h6 {
  text-decoration: underline;
  font-weight: bold;
  padding-top: 5px;
}

.bio {
  white-space: normal;
  
  textarea {
    background-color: lightblue;
    resize: none;
    width: 100%;
    min-height: 105px;
  }
}

#header { text-align: center; }

.head { border: 4px solid black; }

.body { display: flex; }

.body, .footer-border {
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}

.footer {
  overflow: auto;
  text-align: center;
  height: 120px;

  .details {
    margin-top: 15px;
  }

  a {
    padding: 15px;
    font-size: 18px;
  }
}

.loginForm, .registerForm {
  border-right: 4px solid black;
  width: 200px;
  padding: 12px;

  .buttons {
    margin-top: 10px;
  }
}

.loginPrompt, .registerPrompt {
  font-size: 18px;
}

.loginForm input, .registerForm input {
  border: 2px solid grey;
  font-size: 12px;
}

.noAccount {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

.description {
  margin: 10px;
  overflow: auto;
}

.description h3 {
  margin-top: 5px;
  margin-left: 5px;
  text-decoration: underline;
}

.left-labels {
  float: left;
  width: 200px;
}

.right-assertions input, .right-assertions select {
  background-color: lightblue;
  font-size: 12px;
  width: 180px;
}

.modal {
  padding-top: 100px;
  background-color: rgba(0,0,0,0.4);
  display: block;

  .modal-content {
    padding: 15px;
    max-width: 400px;
    height: 400px;
    margin: 2rem auto;
    overflow: auto;

    header {
      h4 {
        display: inline-block;
        position: absolute;
        transform: translateX(-50%);
        margin-top: 8px;
        left: 50%;
      }
    }

    .followers, .following {
      label {
        font-size: 17px;
        line-height: 20px;
        cursor: pointer;

        span {
          font-size: 13px;
          color: grey;
        }
      }

      .thumbnail {
        position: relative;
        top: -3px;
        border-radius: 50%;
        object-fit: cover;
        width: 40px;
        height: 40px;

        margin-right: 5px;
        margin-bottom: 20px;
      }

      input {
        float: right;
        margin-top: 7px;
      }
    }

    #close {
      color: black;
      float: right;
      font-size: 30px;
      font-weight: bold;
    }
    
    #close:hover {
      color: red;
      cursor: pointer;
    }
  }
}

.messaging {
  display: flex;

  .chats {
    border: 1px solid black;
    overflow: auto;
    min-width: 200px;
    max-width: 200px;
    height: 625px;

    .add-chat {
      border-bottom: 1px solid black;
      text-align: center;
      padding: 5px;

      label:hover {
        color: blue;
        cursor: pointer;
      }
    }

    .chat {
      background-color: rgb(240, 240, 240);
      border-bottom: 1px solid black;
      padding: 10px;

      label {
        font-size: 16px;
      }
  
      .thumbnail {
        border-radius: 20%;
        object-fit: cover;
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
    }

    .chat:hover, span:hover {
      background-color: rgb(200, 226, 255);
      cursor: pointer;
    }
  }

  .interface {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;

    .chat-session {
      background-color: rgb(240, 240, 240);
      border: 1px solid black;
      border-left: none;
      overflow: auto;
      height: 500px;

      .text-chat {
        padding: 10px;
        font-size: 20px;

        margin-top: 30px;
        display: flex;
        flex-direction: column;

        .you {
          background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 0%);
          color: white;

          border-radius: 20px;
          padding: 8px 15px;
          margin-left: auto;
          max-width: 400px;
        }

        .user {
          background: rgb(138, 138, 138);
          color: white;

          margin-right: auto;
          max-width: 400px;
          border-radius: 20px;
          padding: 8px 15px;
        }
      }
    }
  
    .message-box {
      display: flex;
      margin-top: auto;
  
      textarea {
        min-height: 125px;
        min-width: 85%;
        outline: none;
        resize: none;
        border: none;

        background-color: lightblue;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
      }
  
      .buttons {
        width: 100%;
  
        input {
          font-size: 23px;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.tiny-spinner {
  position: relative;
  top: calc(50% - 20px);
  margin: 0 auto;
  width: 40px;
  height: 40px;

  animation: spin 0.8s linear infinite;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
}

.large-spinner {
  margin: auto;
  margin-top: 175px;
  width: 100px;
  height: 100px;

  animation: spin 2s linear infinite;
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1600px) {
  .border-area, .area {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .border-area, .area {
      width: auto;
      height: auto;
  }
}