.user-posts {

  input[type="file"] {
    display: none;
  }

  .share-post {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: rgb(15, 51, 255);
    }
  }

  .load-more {
    text-align: center;
  }

  .posts {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));

    .spinner {
      margin: 0 auto;

      label {
        margin-left: 10px;
        margin-top: 10px;
      }
    }

    .post {
      padding: 20px;
      position: relative;
      display: inline-block;

      img {
        border: 2px solid black;
        border-radius: 10px;
        object-fit: cover;
        width: 200px;
        height: 175px;

        &:hover {
          transform: scale(1.05);
          transition: transform 0.5s;
          cursor: pointer;
        }
      }

      .delete {
        background-color: rgb(255, 78, 78);
        border-radius: 100%;
        padding: 0px 5px;
        color: white;

        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 5px;
      }
    }

    .no-posts {
      margin: 0 auto;
      font-size: 1.5rem;
    }
  }

  .modal {
    background-color: rgba(0,0,0,0.4);
    display: block;
    padding-top: 12px;
    color: black;
  
    .modal-content {
      max-width: 650px;
      height: 850px;
      margin: 2rem auto;
      overflow: auto;

      header {
        margin-top: 10px;

        h4 {
          display: inline-block;
          position: absolute;
          transform: translateX(-50%);
          margin-top: 8px;
          color: black;
          left: 50%;
        }
      }

      .post-block {
        display: flex;
        flex-direction: column;

        .post-form {
          margin: 0 auto;

          .gap {
            margin-left: 10px;
            margin-right: 10px;
          }
        }

        .post-image {
          margin: 0 auto;
          margin-bottom: 5px;
  
          .upload button {
            display: inline-block;
            margin-right: 10px;
          }
        }
  
        .preview-block {
          background-color: rgb(204, 204, 204);
          border-radius: 10px;
          margin: 0 auto;
          height: 560px;
  
          img {
            border-radius: 10px;
            width: 500px;
          }
        }
      }

      .close {
        color: black;
        float: right;
        font-size: 30px;
        font-weight: bold;
        margin-right: 10px;
      }
      
      .close:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}